# deps
node_modules/
.pnpm-store/

# build
dist/
.next/
.turbo/
build/

# env & secrets
.env
.env.*
!.env.example

# prisma
*.db

# flutter
apps/mobile/.dart_tool/
apps/mobile/build/

# misc
.DS_Store
*.log
coverage/
